    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      
		<div class="row">
		
			<div class="col-sm">
				<p>&copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.</p>
				<p>{{ site.footer_text }}</p>
			</div>
			
			<div class="col-sm">
				{% include figure.html path="assets/img/3.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
				{%- if site.impressum_path -%}
				<a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
				{%- endif -%}				
			</div>
			
			<div class="col-sm">
				{% include figure.html path="assets/img/5.jpg" %}								
				{%- if site.last_updated -%}
				Last updated: {{ "now" | date: '%B %d, %Y' }}.
				{%- endif %}
			</div>
		</div>


    </footer>
	
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
  		<div class="row">		
			<div class="col-sm mt-3 mt-md-0">
				&copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
				<p> {{ site.footer_text }}</p>>
				
				{%- if site.impressum_path -%}
				<a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
				{%- endif -%}
			</div>
			
			<div class="col-sm mt-3 mt-md-0">
				{% include figure.html path="assets/img/3.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
				
			</div>
			
			<div class="col-sm mt-3 mt-md-0">
				{{site.contact_note}}	
			</div>
		</div>
      </div>
    </footer>
    {%- endif %}